@media (min-width: 300px) and (max-width: 450px) {
    #additem {
        margin-left: -40px;
        margin-right: 20px;
    }

    #orderview {
        margin-left: -40px;
        margin-right: 20px;
    }

    #stock {
        margin-left: -40px;
        margin-right: 25px;
    }

    #login{
        margin-left: -45px;
        margin-right: 25px;
    }

    #dashboard{
        margin-left: -35px;
        margin-right: 20px;
    }
}